* {
    background-color: #ff8390;
    margin: 15px;
    padding: 0;
}
.text {
    color: blue;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}
.second {
    border: 2.5px solid #88fcab;
    border-radius: 25px;
}
h3 {
    font-size: 50px;
}
ul{
    font-size: 25px;
}